@using HabitHook.HabitManagement.Client.Habit.AddHabit;
@using HabitHook.HabitManagement.Domain.Contracts.Habits.ListHabits
@inject IMediator Mediator

<PageTitle>Lista nawyków</PageTitle>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Nazwa nawyku</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @if (_habits is not null)
  {
    @foreach (var habit in _habits)
    {
      <tr>
        <td>
          <NavLink class="link-dark" 
                   href=@($"/habit/{habit.Id}")>@habit.Name</NavLink>
        </td>
        <td></td>
      </tr>
    }
  }
  </tbody>
</table>
<AddHabitRow />

@code
{
  private List<HabitDto>? _habits;
  
  protected override async Task OnInitializedAsync()
  {
    var response = await Mediator.Send(new ListHabitsQuery(new ListHabitsQueryDto()));
    _habits = response.ToList();
  }
}
