@namespace HabitHook.HabitManagement.Client.Habit.AddHabit

@using HabitHook.HabitManagement.Domain.Contracts.Habits.AddHabit

@inject IMediator Mediator

<div class="container">
    
    <EditForm Model="@Habit" class="row" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group col-10 text-start">
            <InputText id="name" placeholder="Wprowadź nazwę" class="form-control" @bind-Value="Habit.Name"/>
            <ValidationMessage For="@(() => Habit.Name)"/>
        </div>
        <div class="col-1 text-end">
            <button type="submit" class="btn btn-success"><i class="bi bi-plus-lg text-light"></i></button>
        </div>
    </EditForm>
</div>

@code
{
    [Parameter]
    public EventCallback<HabitDto> OnHabitCreatedAsync { get; set; }
    
    private HabitForCreationDto Habit { get; set; } = new();

    private async Task HandleSubmit(EditContext editContext)
    {
        if (!editContext.Validate())
        {
            return;
        }

        try
        {
            var response = await Mediator.Send(new AddHabitCommand(Habit));
            await OnHabitCreatedAsync.InvokeAsync(response);
            Habit = new HabitForCreationDto();
        }
#pragma warning disable CS0168
        catch (Exception ignored)
#pragma warning restore CS0168
        {
            // ignored
        }
    }
}
